{% extends "base.html" %}

{% block content %}
    <!-- Header-->
       <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our ecommerce platform.</p>
                </div>
            </div>
        </header> 

         <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <p class="lead">With a passion for technology and a keen interest in online shopping, I decided to build this ecommerce website to provide a seamless shopping experience for users.</p>
                        <p class="lead">My goal is to offer a wide range of products, from electronics to <span class="fst-italic">fashion</span>.</p>
                        <p>Thank you for visiting my ecommerce website. I hope you find what you're looking for and enjoy your shopping experience!</p>
                        <p>Feel free to reach out if you have any questions or feedback.</p>
                        <p class="fw-bold text-success">Happy shopping!</p>
                        <hr>
                        <p>Best regards,</p>
                        <p><strong>Tabong Philip</strong></p>
                        <p class="text-muted">Founder of Philipstek Ecommerce Website</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

{% endblock %}