{% extends "base.html" %} {% block content %}

<div class="container py-3">
  <div class="card mb-4 shadow-sm border-0" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.image.url}}"
          class="img-fluid rounded-start"
          alt="Card image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ product.name }}</h5>
          <p class="card-text text-muted">{{ product.description }}</p>
          <p class="card-text">
            <small class="text-secondary">{{product.price}}</small>
          </p>
          {% if product.is_sale %}
          <span class="badge bg-danger">Sale</span>
          <strike>{{ product.price }} FCFA</strike>
          <span class="text-success">{{ product.sale_price }} FCFA</span>
          {% else %}
          <span>{{ product.price }} FCFA</span>
          {% endif %}
          {% comment %} Include a select class for quantity {% endcomment %}
          <div class="input-group mb-3 mt-2 ">
            <select  class="form-select" id="qty-cart" aria-label="Select quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" value="{{ product.pk }}" class="btn btn-primary"
          id="add_cart" >
          Add to Cart
  </button>
  <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
</div>


<script>
  {% comment %} Check if button is pressed {% endcomment %}
  $(document).on("click", "#add_cart", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_add' %}",
      data: {
        product_id: $('#add_cart').val(),
        product_qty: $('#qty-cart option:selected').val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        document.getElementById("cart_quantity").textContent = json.qty;
        location.reload()
      },
      error: function () {
        alert("An error occurred while adding the product to the cart.");
      },
    });
  });

</script>

{% endblock %}
